*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    background-color: rgb(250, 235, 215);
}

body {
    font-family: Rubik;
}



/*header + навигация*/
/*===============================*/

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1087px;
    margin: 0px auto;
    padding: 0px 15px;
}

/*=========== PC ==============*/
@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

/*======= tabletka ========*/
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

/*===== mobila =======*/
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin: 0px 40px 0px 0px;
}

.menu__link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    color: aqua;
    letter-spacing: 1px;
}

/*body Контент*/
/*===========================================*/

.start__text-block {
    max-width: 410px;
}

.text-block__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: black;
}

.text-block__title span {
    color: blue;
}

.text-block__title_blue span {
    color: coral;
}

.text-block__text {
    line-height: 138.5%;
}

/*===========================================*/

.start {
    background-color: antiquewhite;
    padding: 150px 0px 50px 0px;
}

.start__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 991.98px) {
    .start__container::before {
        right: 185px;
        border-radius: 20px 0px 0px 20px;
    }
}

@media (max-width: 767.98px) {
    .start__container {
        padding: 70px 15px 30px 15px;
    }

    .start__container::before {
        display: none;
    }
}

.start__content {
    flex: 0 1 48%;
    padding: 0px 0px 0px 60px;
}

.start__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}

.start__image img {
    max-width: 100%;
}

/*footer icons*/
.main-icons {
    max-width: 200px;
    display: flex;
    margin: 0 auto;
    font-size: 50px;
    margin-top: 230px;
    justify-content: space-between;
}

.footer {
    padding: 2.6111rem 0;
    background-image: url(./img/satilit_img/galereya/6099b04aa390a7.87856388.jpg);

}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__desc {
    font-weight: 700;
    font-size: 1.3333rem;
    line-height: 2.4444rem;
    color: #ffffff;
}

.footer__social :not(:last-child) {
    margin: 0px 24px 0px 0px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}